body {
    font-family: montserrat;
    font-size: 20px;
    text-align: left;
    background: #f3f3f3;
    color: #545454;
    line-height: 28px;
    display: inline;
    margin: 0px;
}
header{
    background: #545454;
    height: 170px;
    color: #ddf1f4;
    width: 100%;
    margin: 0px;
    border-bottom: 5px solid #2fb188;
}
.caixa{
    position: absolute;
    top: 50px;
    left: 90px;
}
#logo{
    height: 100px;
    position: absolute;
    left: 1580px;
    top: 40px;
    margin: auto;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
.html {
    position: relative;
    top: 20px;
    left: 90px;
    display: block;
}
ol li {
    padding: 5px 50px;
}
h3 {
    line-height: 40px;
    font-size: 25px;
    color: #545454;
}
.css {
    position: relative;
    top: 50px;
    left: 90px;
    display: block;
}
h4 {
    line-height: 40px;
    font-size: 25px;
    color: #545454;
}
footer {
    background: #545454;
    color: #ffffff;
}