body {
    font-family: montserrat;
    font-size: 20px;
    text-align: left;
    background: #f3f3f3;
    color: #545454;
    line-height: 28px;
    display: inline;
    margin: 0px;
}
header{
    background: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    height: 170px;
    color: #ddf1f4;
    width: 100%;
    margin: 0px;
    border-bottom: 5px solid #bce2e9;
}
.caixa{
    position: absolute;
    top: 50px;
    left: 90px;
}
#logo{
    height: 100px;
    position: absolute;
    left: 1580px;
    top: 40px;
    margin: auto;
}
#logo:hover{
    transform: scale(1.1);
    transition: 1s all;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
.html {
    position: relative;
    top: 20px;
    left: 90px;
    display: inline-block;
}
ol li {
    padding: 5px 50px;
}
h3 {
    line-height: 40px;
    font-size: 25px;
    color: #545454;
}
.css {
    position: relative;
    top: 50px;
    left: 90px;
    display: inline-block;
}
h4 {
    line-height: 40px;
    font-size: 25px;
    color: #545454;
}
form {
    margin-top: 180px;
    margin-left: 10px;
    font-size: 16px;
}
form .email {
    display: block;
}
.enviar:hover {
    transform: scale(1.1);
    transition: 1s all;
}
footer {
    background: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    border-top: 4px solid #bce2e9;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 15px;
}